<section class="contact">
  <div class="container">
    <p class="contact__title">
      If you have any questions, please feel free to contact us.
    </p>
    <a
      class="link"
      href="mailto:hello@rebelthorp.com"
    >
      hello@rebelthorp.com
    </a>
  </div>
</section>
