<footer class="footer">
  <section class="footer__socials">
    <div class="container footer__socials-inner">
      <a
        class="footer__social-link footer__social-link-insta"
        href="https://www.instagram.com/rebel_thorp"
        target="_blank"
        rel="external"
        title="Instagram"
      >
      </a>
      <a
        class="footer__social-link footer__social-link-twitter"
        href="https://twitter.com/rebelthorp"
        target="_blank"
        rel="external"
        title="Twitter"
      ></a>
      <a
        class="footer__social-link footer__social-link-behance"
        href="https://www.behance.net/rebelthorp"
        target="_blank"
        rel="external"
        title="Behance"
      ></a>
      <a
        class="footer__social-link footer__social-link-artstation"
        href="https://www.artstation.com/artist/mific"
        target="_blank"
        rel="external"
        title="Artstation"
      ></a>
    </div>
  </section>
  <section class="footer__copyright">
    &copy; 2017 {{ @root.meta.author }} • All rights reserved
  </section>
</footer>
