<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
  {{> head}}

  <title>{{@root.meta.title}} / {{@root.meta.author}}</title>
</head>
<body>
<header class="header">
  <a class="header__logo" href="/"></a>
  <p class="header__caption">
    website is under construction...
  </p>
</header>
<main class="main" role="main">
  {{> subscribe}}
  <section class="home container">
    <div class="home__section">
      <h2 class="main__title">
        What we do
      </h2>
      <p class="main__desc">
        {{#each @root.data.skills}}
          {{#if @index}}
            &nbsp;•&nbsp;
          {{/if}}
          <span class="main__desc-item">
            {{this}}
          </span>
        {{/each}}
      </p>
    </div>
    <div class="home__section">
      <h2 class="main__title">
        Who we are
      </h2>
      <p class="main__desc">
        {{@root.data.about}}
      </p>
    </div>
  </section>
  {{> contact}}
</main>
{{> footer}}
{{> analytics}}
</body>
</html>
