<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
  {{> head}}

  <title>Links / {{@root.meta.author}}</title>
</head>
<body>
<header class="linker__header">
  <div class="linker__logo"></div>
</header>
<main class="linker__main" role="main">
  <a
    class="linker__button"
    href="https://rebelthorp.com"
    rel="external"
    title="Our Website"
  >
  Our Website
  </a>
  <a
    class="linker__button"
    href="https://www.unrealengine.com/marketplace/profile/Rebel%20Thorp"
    rel="external"
    title="Unreal Engine Marketplace"
  >
  Unreal Engine Marketplace
  </a>
  <a
    class="linker__button"
    href="https://www.artstation.com/rebelthorp/store"
    rel="external"
    title="ArtStation Store"
  >
  ArtStation Store
  </a>
  <a
    class="linker__button"
    href="https://www.cgtrader.com/rebelthorp"
    rel="external"
    title="CGTrader Store"
  >
  CGTrader Store
  </a>
  <a
    class="linker__button"
    href="https://www.youtube.com/c/RebelThorp"
    rel="external"
    title="YouTube"
  >
  YouTube
  </a>
  <a
    class="linker__button"
    href="https://www.facebook.com/rebelthorp"
    rel="external"
    title="Facebook"
  >
  Facebook
  </a>
  <a
    class="linker__button"
    href="https://twitter.com/rebelthorp"
    rel="external"
    title="Twitter"
  >
  Twitter
  </a>
</main>
{{> analytics}}
</body>
</html>
