<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
  {{> head}}

  <title>Links / {{@root.meta.author}}</title>
</head>
<body>
<header class="linker__header">
  <div class="linker__logo"></div>
</header>
<main class="linker__main" role="main">
  <a
    class="linker__button"
    href="https://rebelthorp.com"
    rel="external"
    title="Our Website"
  >
  Our Website
  </a>
  <a
    class="linker__button"
    href="http://bit.ly/2AelzVA"
    rel="external"
    title="Unreal Engine Marketplace"
  >
  Unreal Engine Marketplace
  </a>
  <a
    class="linker__button"
    href="https://bit.ly/2DFJXVI"
    rel="external"
    title="ArtStation Store"
  >
  ArtStation Store
  </a>
  <a
    class="linker__button"
    href="https://bit.ly/2OmC61t"
    rel="external"
    title="CGTrader Store"
  >
  CGTrader Store
  </a>
  <a
    class="linker__button"
    href="https://bit.ly/2WzghQu"
    rel="external"
    title="YouTube"
  >
  YouTube
  </a>
  <a
    class="linker__button"
    href="https://bit.ly/2WxzFgL"
    rel="external"
    title="Facebook"
  >
  Facebook
  </a>
  <a
    class="linker__button"
    href="https://bit.ly/396IcfX"
    rel="external"
    title="Twitter"
  >
  Twitter
  </a>
</main>
{{> analytics}}
</body>
</html>
